.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 4vw;
}

.infoBlock {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 10vw;
  width: 100%;
  margin-top: 2vw;
}

.ways {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 5vw;
}

.way {
  @include mainTextSize;
  text-align: start;
  flex: 1;
  padding: 1vw;
  border-radius: 1vw;
}

.wayTitle {
  font-weight: 900;
}

.wayDescription {
  color: $colorBody;
  margin-top: 1vw;
}

.way.active {
  background: $colorSectionBack;
  & > .wayTitle {
    color: $blueText;
  }
}

.imageWrapper {
  position: relative;

  img {
    width: 45vw;
    height: 25vw;
    object-fit: cover;
  }

  a {
    @include mainTextSize;
    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 100%;
  }
}

@media (max-width: 990px) {
  .root {
    margin-bottom: 32px;
  }

  .infoBlock {
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
    margin-top: 16px;
  }

  .ways {
    padding: 0 0 16px 0;
  }

  .way {
    padding: 16px;
    border-radius: 8px;
  }

  .wayDescription {
    color: $colorBody;
    margin-top: 8px;
  }

  .imageWrapper {
    img {
      width: 100%;
      height: auto;
    }

    a {
      bottom: 16px;
    }
  }
}
