$transparentLabel: #fcfcfab1;
$colorAccent: #F97309;

$colorText: #4B4A4A;
$colorTextInvert: #fff;
$blueText: #0d7af3;
$yellowText: #faba01;

$colorBody: #717070;
$colorMain: #CDC9C9;
$colorSectionBack: #f8f9fb;